html,body,div,p,h3,input {
margin: 0;
border: 0;
padding: 0;
}

#outsideContainer {
margin: 200px auto;
background: gray;
width: 300px;
padding: 30px;
text-align: center;
}

#guessContainer {
padding: 20px 0;
}

#guessContainer h3 {
padding: 5px 0px;
}

#guessContainer input[type="text"] {
margin: 10px 0px;
}

#guessShow {
border: 1px solid black;
padding: 10px;
}

#guessShow .hotter {
color: red;
}

#guessShow  .colder {
color: blue;
}

#guessShow .gotIt {
font-size: 2em;
font-weight: 700;
}

 .hideStuff {
display: none;
}

.showStuff {
display: block;
}